* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 75vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /*background-color: #e7a9a9;*/
}

a {
    text-decoration: none;
}

.head_container {
    margin-bottom: 2.5rem;
}

.head_title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 2rem;
}

.head_desc {
    /*border: 1px solid red;*/
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    max-width: 568px;
    margin: 0 auto;
}

.main_contain {
    display: grid;
    gap: 1.3rem;
    /*grid-template-columns: repeat(1, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    justify-content: center;
}

/*@media (min-width:740px) {
    .main_contain {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1083px) {
    .main_contain {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width:1600px) {
    .main_contain {
        grid-template-columns: repeat(4, 1fr);
    }
}*/





.card_contain {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 8px;
}

.card_img_contain {
    position: relative;
    overflow: hidden;
    height: 8rem;
}

@media (min-width:600px) {
    .card_img_contain {
        height: 10rem;
    }
}

.card_img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.card_title_contain {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
}

.card_contain:hover .card_img {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(53, 50, 50);
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title_anchor:hover .card_title {
    color: rgb(0, 0, 203);
}

.card_desc {
    color: rgb(75, 72, 72);
    font-size: 0.8rem;
}

.card_foot_contain {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem 1rem 1rem;
}

.author_contain {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(64, 61, 61);
    border-radius: 50%;
    background-color: rgba(98, 95, 95, 0.527);
}

.author {
    display: flex;
    flex-direction: column;
}

.name {
    color: rgba(0, 115, 255, 0.584);
    font-size: 0.8rem;
}

.date {
    color: rgba(0, 0, 0, 0.589);
    font-size: 0.8rem;
}

.card_tag_contain {
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    color: rgba(0, 0, 0, 0.589);
}